body {
    width: 100vw;
}

main {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/post-image.jpg");
    height: 1000px;
}

/* Base Typography*/

h1 {
    font-family: $playfair;
    font-style: italic;
    font-weight: 900;
    font-size: $xx-large;
    color: $white;
    padding: 25%;
}

h2 {
    font-family: $playfair;
    font-style: italic;
    font-size: $x-large;
    display: line;

}

h3 {
    font-family: $roboto;
    font-weight: $light;

}

h4 {
    font-family: $roboto;
    font-weight: $black;
    color: $spanishpink;
    display: line;

}

h5 {
    font-family: $playfair;
    font-weight: $black;
    color: $nickel;
    padding-bottom: 2rem;

}

h6 {
    font-family: $roboto;
    font-weight: $black;
}