body {
    font-family: 'Roboto', sans-serif;
}


nav li {
    /*elementos navbar*/
    text-decoration: none;
    color: white;
}

.blg {
    color: $fuzzyguzzy !important;
}

p {
    /*parrafos blog y descripcion bloguera*/
    color: $nickel;
    text-align: justify;
    line-height: 2rem;
    font-size: $medium;

}

hr {
    height: 1px;
    width: 100%;
    background-color: $lightgray;
}