// Esquema de Colores

// Este es el primer esquema de Colores Grises
$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;

// Este es el segundo esquema de Colores
$fuzzyguzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;

// Este es el tercer esquema de Colores Negros
$eerie-black: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;

// Tipografias

$playfair: 'Playfair Display',
italic;
$roboto: 'Roboto',
sans-serif;

// Font Weight
$italic: 900i;
$light: 300;
$black: 400;


//  font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//